In [1]:
# Step one is to identify RI Cases

import tropycal.tracks as tracks
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import xarray as xr

In [2]:
desired_basin = 'north_atlantic'

basin = tracks.TrackDataset(basin=desired_basin,source='hurdat',include_btk=False)

--> Starting to read in HURDAT2 data
--> Completed reading in HURDAT2 data (2.52 seconds)

In [3]:
# Years of Evaluation
start_year = 2000
end_year = 2022
ri_threshold = 30 # kt
time_difference = 24 # hours (setting)

In [4]:
# create a dataset of all storm names in year range

year_range = range(start_year,end_year+1)

all_names_list = []
for year_loop in year_range:
    curr_year_list = []
    sname = basin.get_season(year_loop).to_dataframe()['name'].drop_duplicates(keep=False) # The repeats just drops TDs
    ids = basin.get_season(year_loop).to_dataframe()['id']
    for loop in sname.index:
        if sname[loop] == 'UNNAMED': # skips unnamed storms
            pass
        else:
            if ids[loop][0:2] != 'CP': # don't include central pacific storms
                storm_loop = (sname[loop],year_loop)
                all_names_list.append(storm_loop)
    # all_names_list.append(curr_year_list)

In [5]:
# Get individual storm

all_RI_names = []
all_RI_years = []
all_RI_starts = []
all_RI_ends = []
RI_number_all = []
storm_ids_all = []

def my_fun(x): # This function is used to subtract in rolling functions
#     print(x)
    return x.iloc[-1] - x.iloc[0]

for all_storms_loop in range(len(all_names_list)): # This loops iterates through all storms
# for all_storms_loop in [37]:
    storm_inds = np.where((basin.get_storm(all_names_list[all_storms_loop]).type=='TS') | 
         (basin.get_storm(all_names_list[all_storms_loop]).type=='TD') |
        (basin.get_storm(all_names_list[all_storms_loop]).type=='SD')|
         (basin.get_storm(all_names_list[all_storms_loop]).type=='SS' )|
          (basin.get_storm(all_names_list[all_storms_loop]).type=='HU')|
           (basin.get_storm(all_names_list[all_storms_loop]).type=='TY')|
            (basin.get_storm(all_names_list[all_storms_loop]).type=='ST')) # This ensures we only take TC files, not invests
    
    storm_time = basin.get_storm(all_names_list[all_storms_loop])['time'][storm_inds] # calls times of storms
    storm_intensity = basin.get_storm(all_names_list[all_storms_loop])['vmax'][storm_inds] # calls intensity of storms
    storm_id = basin.get_storm(all_names_list[all_storms_loop])['id']
    
    storm_pd = pd.DataFrame(storm_intensity,index=storm_time) # Generate a dataframe for intensity

    # Find time differences
    rolling_diff = storm_pd.rolling(window=timedelta(hours=time_difference+6),min_periods=int((time_difference+6)/6),center=False).apply(my_fun).shift(-(int(time_difference/6)))

    # This creates a boolean of whether RI threshold is met
    threshold_crossings = np.diff(rolling_diff >= ri_threshold, prepend=False)
    changes = pd.DataFrame(threshold_crossings).rolling(window=2).apply(my_fun) # Identifies when thresholds met and not met
    if threshold_crossings[0] == True: # if TC starts with RI then we need to include it!
        changes.iloc[[0]] = 1
    up_cross = np.where(changes == 1)[0] # Where false -> true
    down_cross = np.where(changes == -1)[0] - 1 # Where true -> false. Minus one gets you last qualifying time
    
    if threshold_crossings.sum() == 0: # No need to record any RIs if there are no RIs detected
        pass
    else:
        RI_start = storm_time[up_cross] # Identify RI start time
        if len(down_cross) == 0: # If there are no recorded false -> true, then use 24 h after RI start
            RI_end = RI_start
        else:
            RI_end = storm_time[down_cross] + timedelta(hours=24) # RI end picks up the last time from this RI
            if len(up_cross) - len(down_cross) == 1: # sometimes the down cross misses the last cross, this adds it in
                RI_end = np.append(RI_end,RI_start[-1]+timedelta(hours=24))        

        for RI_same_storm in range(0,len(RI_start)): # This loops unravels the append by RI, so not by storm.
            if (RI_start[RI_same_storm].hour == 0 # Take synoptic times only
               ) or  (RI_start[RI_same_storm].hour == 6
                    ) or (RI_start[RI_same_storm].hour == 12) or(
                RI_start[RI_same_storm].hour == 18):
                
                all_RI_names.append(all_names_list[all_storms_loop][0])
                all_RI_years.append(all_names_list[all_storms_loop][1])
                all_RI_starts.append(RI_start[RI_same_storm])
                all_RI_ends.append(RI_end[RI_same_storm])
                RI_number_all.append(RI_same_storm+1)
                storm_ids_all.append(storm_id)
            else: 
                pass
        
        print('Current Storm: ' + str(all_names_list[all_storms_loop]))
        # interval that meets the set threshold/time interval. Plus 24 hours includes the 24 hours after the last threshold met

Current Storm: ('ALBERTO', 2000)
Current Storm: ('DEBBY', 2000)
Current Storm: ('FLORENCE', 2000)
Current Storm: ('GORDON', 2000)
Current Storm: ('HELENE', 2000)
Current Storm: ('ISAAC', 2000)
Current Storm: ('JOYCE', 2000)
Current Storm: ('KEITH', 2000)
Current Storm: ('MICHAEL', 2000)
Current Storm: ('DEAN', 2001)
Current Storm: ('ERIN', 2001)
Current Storm: ('FELIX', 2001)
Current Storm: ('HUMBERTO', 2001)
Current Storm: ('IRIS', 2001)
Current Storm: ('MICHELLE', 2001)
Current Storm: ('GUSTAV', 2002)
Current Storm: ('ISIDORE', 2002)
Current Storm: ('LILI', 2002)
Current Storm: ('FABIAN', 2003)
Current Storm: ('ISABEL', 2003)
Current Storm: ('ALEX', 2004)
Current Storm: ('CHARLEY', 2004)
Current Storm: ('DANIELLE', 2004)
Current Storm: ('FRANCES', 2004)
Current Storm: ('IVAN', 2004)
Current Storm: ('JEANNE', 2004)
Current Storm: ('KARL', 2004)
Current Storm: ('LISA', 2004)
Current Storm: ('CINDY', 2005)
Current Storm: ('DENNIS', 2005)
Current Storm: ('EMILY', 2005)
Current Storm: ('KATRINA', 2005)
Current Storm: ('RITA', 2005)
Current Storm: ('STAN', 2005)
Current Storm: ('WILMA', 2005)
Current Storm: ('BETA', 2005)
Current Storm: ('FLORENCE', 2006)
Current Storm: ('GORDON', 2006)
Current Storm: ('HELENE', 2006)
Current Storm: ('DEAN', 2007)
Current Storm: ('FELIX', 2007)
Current Storm: ('HUMBERTO', 2007)
Current Storm: ('KAREN', 2007)
Current Storm: ('LORENZO', 2007)
Current Storm: ('BERTHA', 2008)
Current Storm: ('DOLLY', 2008)
Current Storm: ('GUSTAV', 2008)
Current Storm: ('HANNA', 2008)
Current Storm: ('IKE', 2008)
Current Storm: ('MARCO', 2008)
Current Storm: ('OMAR', 2008)
Current Storm: ('PALOMA', 2008)
Current Storm: ('FRED', 2009)
Current Storm: ('IDA', 2009)
Current Storm: ('ALEX', 2010)
Current Storm: ('DANIELLE', 2010)
Current Storm: ('EARL', 2010)
Current Storm: ('HERMINE', 2010)
Current Storm: ('IGOR', 2010)
Current Storm: ('JULIA', 2010)
Current Storm: ('KARL', 2010)
Current Storm: ('LISA', 2010)
Current Storm: ('PAULA', 2010)
Current Storm: ('SHARY', 2010)
Current Storm: ('TOMAS', 2010)
Current Storm: ('BRET', 2011)
Current Storm: ('KATIA', 2011)
Current Storm: ('OPHELIA', 2011)
Current Storm: ('RINA', 2011)
Current Storm: ('CHRIS', 2012)
Current Storm: ('ERNESTO', 2012)
Current Storm: ('GORDON', 2012)
Current Storm: ('KIRK', 2012)
Current Storm: ('MICHAEL', 2012)
Current Storm: ('SANDY', 2012)
Current Storm: ('BERTHA', 2014)
Current Storm: ('GONZALO', 2014)
Current Storm: ('DANNY', 2015)
Current Storm: ('FRED', 2015)
Current Storm: ('JOAQUIN', 2015)
Current Storm: ('ALEX', 2016)
Current Storm: ('GASTON', 2016)
Current Storm: ('MATTHEW', 2016)
Current Storm: ('NICOLE', 2016)
Current Storm: ('OTTO', 2016)
Current Storm: ('FRANKLIN', 2017)
Current Storm: ('HARVEY', 2017)
Current Storm: ('IRMA', 2017)
Current Storm: ('JOSE', 2017)
Current Storm: ('KATIA', 2017)
Current Storm: ('LEE', 2017)
Current Storm: ('MARIA', 2017)
Current Storm: ('NATE', 2017)
Current Storm: ('BERYL', 2018)
Current Storm: ('CHRIS', 2018)
Current Storm: ('FLORENCE', 2018)
Current Storm: ('MICHAEL', 2018)
Current Storm: ('OSCAR', 2018)
Current Storm: ('DORIAN', 2019)
Current Storm: ('JERRY', 2019)
Current Storm: ('LORENZO', 2019)
Current Storm: ('HANNA', 2020)
Current Storm: ('LAURA', 2020)
Current Storm: ('TEDDY', 2020)
Current Storm: ('GAMMA', 2020)
Current Storm: ('DELTA', 2020)
Current Storm: ('EPSILON', 2020)
Current Storm: ('ZETA', 2020)
Current Storm: ('ETA', 2020)
Current Storm: ('IOTA', 2020)
Current Storm: ('ELSA', 2021)
Current Storm: ('GRACE', 2021)
Current Storm: ('IDA', 2021)
Current Storm: ('LARRY', 2021)
Current Storm: ('SAM', 2021)
Current Storm: ('DANIELLE', 2022)
Current Storm: ('IAN', 2022)
Current Storm: ('LISA', 2022)
Current Storm: ('MARTIN', 2022)

In [6]:
# Create pandas dataframes of RI starts
RI_start_pd = pd.DataFrame(all_RI_starts,index=[all_RI_years,all_RI_names,storm_ids_all,RI_number_all],columns=['RI Start'])
RI_start_pd.index.names = ['Season','Storm_Name','Storm_ID','RI_Number'] # These are the axis

# Create pandas dataframes of RI ends
RI_end_pd = pd.DataFrame(all_RI_ends,index=[all_RI_years,all_RI_names,storm_ids_all,RI_number_all],columns=['RI End'])
RI_end_pd.index.names = ['Season','Storm_Name','Storm_ID','RI_Number'] # These are the axis

# Combines the two pandas dataframes
combined_RI_pd = pd.concat([RI_start_pd,RI_end_pd],axis=1)

# Create Xarray
RI_XR = combined_RI_pd.to_xarray()

In [7]:
# Save as csv and netCDF. Personally, I think the CSV/Pandas Dataframe looks cleaner.

combined_RI_pd.to_csv('/Users/acheung/data/RI_Cases/RI_Events_'+desired_basin+'.csv')
RI_XR.to_netcdf('/Users/acheung/data/RI_Cases/RI_Events_'+desired_basin+'.nc')

In [8]:
# An example of how to call in multiindex pandas
combined_RI_pd.loc[(combined_RI_pd.index.get_level_values('RI_Number') == 2)]

                                                RI Start              RI End
Season Storm_Name Storm_ID RI_Number
2000   KEITH      AL152000 2         2000-10-04 00:00:00 2000-10-05 18:00:00
2001   HUMBERTO   AL102001 2         2001-09-22 18:00:00 2001-09-24 00:00:00
2002   LILI       AL132002 2         2002-10-01 18:00:00 2002-10-03 06:00:00
2004   CHARLEY    AL032004 2         2004-08-13 00:00:00 2004-08-14 06:00:00
       JEANNE     AL112004 2         2004-09-19 18:00:00 2004-09-20 18:00:00
2005   DENNIS     AL042005 2         2005-07-09 06:00:00 2005-07-10 12:00:00
       EMILY      AL052005 2         2005-07-15 18:00:00 2005-07-17 00:00:00
       KATRINA    AL122005 2         2005-08-26 06:00:00 2005-08-27 06:00:00
2007   DEAN       AL042007 2         2007-08-16 18:00:00 2007-08-18 12:00:00
2008   GUSTAV     AL072008 2         2008-08-29 12:00:00 2008-08-31 06:00:00
       OMAR       AL152008 2         2008-10-15 00:00:00 2008-10-16 06:00:00
       PALOMA     AL172008 2         2008-11-07 00:00:00 2008-11-08 18:00:00
2009   IDA        AL112009 2         2009-11-06 18:00:00 2009-11-08 12:00:00
2010   IGOR       AL112010 2         2010-09-11 12:00:00 2010-09-13 12:00:00
       TOMAS      AL212010 2         2010-11-04 06:00:00 2010-11-05 12:00:00
2015   JOAQUIN    AL112015 2         2015-09-30 00:00:00 2015-10-01 18:00:00
2016   NICOLE     AL152016 2         2016-10-11 06:00:00 2016-10-13 06:00:00
2017   IRMA       AL112017 2         2017-09-04 06:00:00 2017-09-06 06:00:00
       MARIA      AL152017 2         2017-09-17 00:00:00 2017-09-18 00:00:00
2018   FLORENCE   AL062018 2         2018-09-09 06:00:00 2018-09-11 00:00:00
       MICHAEL    AL142018 2         2018-10-09 06:00:00 2018-10-11 00:00:00
2019   DORIAN     AL052019 2         2019-08-31 12:00:00 2019-09-02 00:00:00
       LORENZO    AL132019 2         2019-09-28 06:00:00 2019-09-29 12:00:00
2020   TEDDY      AL202020 2         2020-09-16 18:00:00 2020-09-18 00:00:00
2021   IDA        AL092021 2         2021-08-28 06:00:00 2021-08-30 00:00:00
       SAM        AL182021 2         2021-09-24 06:00:00 2021-09-26 06:00:00
2022   IAN        AL092022 2         2022-09-27 18:00:00 2022-09-29 00:00:00

In [9]:
pd.set_option('display.max_rows', 500)

combined_RI_pd

                                                RI Start              RI End
Season Storm_Name Storm_ID RI_Number
2000   ALBERTO    AL032000 1         2000-08-11 12:00:00 2000-08-12 12:00:00
       DEBBY      AL072000 1         2000-08-20 06:00:00 2000-08-21 18:00:00
       FLORENCE   AL102000 1         2000-09-10 18:00:00 2000-09-12 06:00:00
       GORDON     AL112000 1         2000-09-15 12:00:00 2000-09-16 18:00:00
       HELENE     AL122000 1         2000-09-20 18:00:00 2000-09-22 00:00:00
       ISAAC      AL132000 1         2000-09-22 18:00:00 2000-09-24 12:00:00
       JOYCE      AL142000 1         2000-09-26 12:00:00 2000-09-27 18:00:00
       KEITH      AL152000 1         2000-09-29 12:00:00 2000-10-02 00:00:00
                           2         2000-10-04 00:00:00 2000-10-05 18:00:00
       MICHAEL    AL172000 1         2000-10-16 18:00:00 2000-10-18 00:00:00
2001   DEAN       AL052001 1         2001-08-26 18:00:00 2001-08-27 18:00:00
       ERIN       AL062001 1         2001-09-08 00:00:00 2001-09-10 00:00:00
       FELIX      AL072001 1         2001-09-12 06:00:00 2001-09-14 00:00:00
       HUMBERTO   AL102001 1         2001-09-22 00:00:00 2001-09-23 00:00:00
                           2         2001-09-22 18:00:00 2001-09-24 00:00:00
       IRIS       AL112001 1         2001-10-07 12:00:00 2001-10-09 06:00:00
       MICHELLE   AL152001 1         2001-11-01 18:00:00 2001-11-04 00:00:00
2002   GUSTAV     AL082002 1         2002-09-10 18:00:00 2002-09-11 18:00:00
       ISIDORE    AL102002 1         2002-09-19 06:00:00 2002-09-20 06:00:00
       LILI       AL132002 2         2002-10-01 18:00:00 2002-10-03 06:00:00
2003   FABIAN     AL102003 1         2003-08-29 12:00:00 2003-08-31 06:00:00
       ISABEL     AL132003 1         2003-09-07 06:00:00 2003-09-09 00:00:00
2004   ALEX       AL012004 1         2004-08-02 06:00:00 2004-08-03 18:00:00
       CHARLEY    AL032004 1         2004-08-12 06:00:00 2004-08-13 12:00:00
                           2         2004-08-13 00:00:00 2004-08-14 06:00:00
       DANIELLE   AL042004 1         2004-08-14 00:00:00 2004-08-15 18:00:00
       FRANCES    AL062004 1         2004-08-25 18:00:00 2004-08-28 00:00:00
       IVAN       AL092004 1         2004-09-04 12:00:00 2004-09-06 06:00:00
       JEANNE     AL112004 2         2004-09-19 18:00:00 2004-09-20 18:00:00
       KARL       AL122004 1         2004-09-17 00:00:00 2004-09-18 18:00:00
       LISA       AL132004 1         2004-09-20 06:00:00 2004-09-21 06:00:00
2005   CINDY      AL032005 1         2005-07-04 18:00:00 2005-07-06 06:00:00
       DENNIS     AL042005 1         2005-07-06 06:00:00 2005-07-08 18:00:00
                           2         2005-07-09 06:00:00 2005-07-10 12:00:00
       EMILY      AL052005 1         2005-07-13 06:00:00 2005-07-15 12:00:00
                           2         2005-07-15 18:00:00 2005-07-17 00:00:00
                           3         2005-07-19 00:00:00 2005-07-20 12:00:00
       KATRINA    AL122005 1         2005-08-25 00:00:00 2005-08-26 00:00:00
                           2         2005-08-26 06:00:00 2005-08-27 06:00:00
                           3         2005-08-27 06:00:00 2005-08-29 00:00:00
       RITA       AL182005 1         2005-09-20 00:00:00 2005-09-22 12:00:00
       STAN       AL202005 1         2005-10-03 06:00:00 2005-10-04 12:00:00
       WILMA      AL252005 1         2005-10-17 18:00:00 2005-10-19 18:00:00
       BETA       AL272005 1         2005-10-29 00:00:00 2005-10-30 06:00:00
2006   FLORENCE   AL072006 1         2006-09-09 18:00:00 2006-09-10 18:00:00
       GORDON     AL082006 1         2006-09-12 12:00:00 2006-09-14 06:00:00
       HELENE     AL092006 1         2006-09-17 00:00:00 2006-09-18 06:00:00
2007   DEAN       AL042007 1         2007-08-15 12:00:00 2007-08-16 12:00:00
                           2         2007-08-16 18:00:00 2007-08-18 12:00:00
       FELIX      AL062007 1         2007-09-01 00:00:00 2007-09-03 18:00:00
       HUMBERTO   AL092007 1         2007-09-12 12:00:00 2007-09-13 18:00:00
       KAREN      AL122007 1         2007-09-25 12:00:00 2007-09-26 18:00:00
       LORENZO    AL132007 1         2007-09-26 18:00:00 2007-09-28 12:00:00
2008   BERTHA     AL022008 1         2008-07-06 12:00:00 2008-07-08 12:00:00
       DOLLY      AL042008 1         2008-07-22 12:00:00 2008-07-23 18:00:00
       GUSTAV     AL072008 1         2008-08-25 00:00:00 2008-08-26 12:00:00
                           2         2008-08-29 12:00:00 2008-08-31 06:00:00
       HANNA      AL082008 1         2008-08-31 18:00:00 2008-09-02 00:00:00
       IKE        AL092008 1         2008-09-03 00:00:00 2008-09-04 18:00:00
       MARCO      AL132008 1         2008-10-06 00:00:00 2008-10-07 00:00:00
       OMAR       AL152008 1         2008-10-13 18:00:00 2008-10-15 06:00:00
                           2         2008-10-15 00:00:00 2008-10-16 06:00:00
       PALOMA     AL172008 1         2008-11-05 18:00:00 2008-11-07 12:00:00
                           2         2008-11-07 00:00:00 2008-11-08 18:00:00
2009   FRED       AL072009 1         2009-09-07 18:00:00 2009-09-09 18:00:00
       IDA        AL112009 1         2009-11-04 06:00:00 2009-11-05 12:00:00
                           2         2009-11-06 18:00:00 2009-11-08 12:00:00
2010   ALEX       AL012010 1         2010-06-30 12:00:00 2010-07-01 12:00:00
       DANIELLE   AL062010 1         2010-08-22 18:00:00 2010-08-24 06:00:00
       EARL       AL072010 1         2010-08-29 00:00:00 2010-08-31 00:00:00
       HERMINE    AL102010 1         2010-09-06 06:00:00 2010-09-07 06:00:00
       IGOR       AL112010 1         2010-09-10 06:00:00 2010-09-11 06:00:00
                           2         2010-09-11 12:00:00 2010-09-13 12:00:00
       JULIA      AL122010 1         2010-09-13 12:00:00 2010-09-15 18:00:00
       KARL       AL132010 1         2010-09-16 00:00:00 2010-09-18 00:00:00
       LISA       AL142010 1         2010-09-24 00:00:00 2010-09-25 12:00:00
       PAULA      AL182010 1         2010-10-11 00:00:00 2010-10-12 18:00:00
       SHARY      AL202010 1         2010-10-29 00:00:00 2010-10-30 00:00:00
       TOMAS      AL212010 1         2010-10-29 06:00:00 2010-10-31 09:00:00
                           2         2010-11-04 06:00:00 2010-11-05 12:00:00
2011   BRET       AL022011 1         2011-07-17 18:00:00 2011-07-18 18:00:00
       KATIA      AL122011 1         2011-09-05 00:00:00 2011-09-06 00:00:00
       OPHELIA    AL162011 1         2011-09-29 06:00:00 2011-10-01 00:00:00
       RINA       AL182011 1         2011-10-23 18:00:00 2011-10-25 18:00:00
2012   CHRIS      AL032012 1         2012-06-20 06:00:00 2012-06-21 12:00:00
       ERNESTO    AL052012 1         2012-08-07 12:00:00 2012-08-08 12:00:00
       GORDON     AL082012 1         2012-08-17 18:00:00 2012-08-19 00:00:00
       KIRK       AL112012 1         2012-08-29 18:00:00 2012-08-31 06:00:00
       MICHAEL    AL132012 1         2012-09-05 00:00:00 2012-09-06 18:00:00
       SANDY      AL182012 1         2012-10-23 18:00:00 2012-10-26 00:00:00
2014   GONZALO    AL082014 1         2014-10-12 12:00:00 2014-10-15 00:00:00
2015   DANNY      AL042015 1         2015-08-20 00:00:00 2015-08-21 18:00:00
       FRED       AL062015 1         2015-08-30 00:00:00 2015-08-31 12:00:00
       JOAQUIN    AL112015 1         2015-09-29 06:00:00 2015-09-30 06:00:00
                           2         2015-09-30 00:00:00 2015-10-01 18:00:00
2016   ALEX       AL012016 1         2016-01-13 12:00:00 2016-01-14 18:00:00
       GASTON     AL072016 1         2016-08-27 12:00:00 2016-08-29 00:00:00
       MATTHEW    AL142016 1         2016-09-29 06:00:00 2016-10-01 12:00:00
       NICOLE     AL152016 1         2016-10-06 00:00:00 2016-10-07 00:00:00
                           2         2016-10-11 06:00:00 2016-10-13 06:00:00
       OTTO       AL162016 1         2016-11-23 06:00:00 2016-11-25 00:00:00
2017   FRANKLIN   AL072017 1         2017-08-08 18:00:00 2017-08-10 06:00:00
       HARVEY     AL092017 1         2017-08-23 12:00:00 2017-08-26 06:00:00
       IRMA       AL112017 1         2017-08-30 06:00:00 2017-09-01 06:00:00
                           2         2017-09-04 06:00:00 2017-09-06 06:00:00
       JOSE       AL122017 1         2017-09-06 06:00:00 2017-09-09 00:00:00
       KATIA      AL132017 1         2017-09-05 18:00:00 2017-09-07 06:00:00
       LEE        AL142017 1         2017-09-23 06:00:00 2017-09-25 00:00:00
       MARIA      AL152017 1         2017-09-16 12:00:00 2017-09-17 12:00:00
                           2         2017-09-17 00:00:00 2017-09-18 00:00:00
                           3         2017-09-17 12:00:00 2017-09-20 00:00:00
       NATE       AL162017 1         2017-10-06 06:00:00 2017-10-07 18:00:00
2018   BERYL      AL022018 1         2018-07-05 06:00:00 2018-07-06 12:00:00
       CHRIS      AL032018 1         2018-07-10 00:00:00 2018-07-11 06:00:00
       FLORENCE   AL062018 1         2018-09-04 06:00:00 2018-09-06 00:00:00
                           2         2018-09-09 06:00:00 2018-09-11 00:00:00
       MICHAEL    AL142018 1         2018-10-07 06:00:00 2018-10-09 00:00:00
                           2         2018-10-09 06:00:00 2018-10-11 00:00:00
       OSCAR      AL162018 1         2018-10-29 00:00:00 2018-10-30 00:00:00
2019   DORIAN     AL052019 1         2019-08-30 00:00:00 2019-08-31 18:00:00
                           2         2019-08-31 12:00:00 2019-09-02 00:00:00
       JERRY      AL102019 1         2019-09-18 18:00:00 2019-09-20 00:00:00
       LORENZO    AL132019 1         2019-09-25 12:00:00 2019-09-27 06:00:00
                           2         2019-09-28 06:00:00 2019-09-29 12:00:00
2020   HANNA      AL082020 1         2020-07-24 18:00:00 2020-07-26 06:00:00
       LAURA      AL132020 1         2020-08-25 06:00:00 2020-08-27 06:00:00
       TEDDY      AL202020 1         2020-09-15 06:00:00 2020-09-16 18:00:00
                           2         2020-09-16 18:00:00 2020-09-18 00:00:00
       GAMMA      AL252020 1         2020-10-02 18:00:00 2020-10-03 18:00:00
       DELTA      AL262020 1         2020-10-05 00:00:00 2020-10-07 00:00:00
       EPSILON    AL272020 1         2020-10-20 06:00:00 2020-10-22 00:00:00
       ZETA       AL282020 1         2020-10-27 18:00:00 2020-10-29 06:00:00
       ETA        AL292020 1         2020-11-01 06:00:00 2020-11-03 12:00:00
       IOTA       AL312020 1         2020-11-14 06:00:00 2020-11-17 06:00:00
2021   ELSA       AL052021 1         2021-07-01 18:00:00 2021-07-02 18:00:00
       GRACE      AL072021 1         2021-08-19 18:00:00 2021-08-21 12:00:00
       IDA        AL092021 1         2021-08-26 18:00:00 2021-08-28 06:00:00
                           2         2021-08-28 06:00:00 2021-08-30 00:00:00
       LARRY      AL122021 1         2021-09-03 06:00:00 2021-09-04 12:00:00
       SAM        AL182021 1         2021-09-23 00:00:00 2021-09-24 06:00:00
                           2         2021-09-24 06:00:00 2021-09-26 06:00:00
2022   DANIELLE   AL052022 1         2022-09-01 06:00:00 2022-09-02 12:00:00
       IAN        AL092022 1         2022-09-25 12:00:00 2022-09-27 18:00:00
                           2         2022-09-27 18:00:00 2022-09-29 00:00:00
       LISA       AL152022 1         2022-11-02 00:00:00 2022-11-03 00:00:00
       MARTIN     AL162022 1         2022-11-01 18:00:00 2022-11-02 18:00:00

In [10]:
combined_RI_pd.shape

(146, 2)